// BASE STYLES =============================================
// =========================================================
@import "base/normalize";
@import "base/variables";
@import "base/mixins";

// BASICS --------------------------------------------------
// ---------------------------------------------------------
* {
  box-sizing: border-box;
}

body,
html {
}

body {
}

img {
  max-width: 100%;
}

// TEXT ----------------------------------------------------
// ---------------------------------------------------------
span {
  display: inline-block;
}

p {
}

hr {
}

pre {
}

small {
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-error {
    color: $red;
  }

  &-primary {
    color: $blue;
  }

  &-badge {
  }
}

// FORMS ---------------------------------------------------
// ---------------------------------------------------------
input {
}

label {
}

textarea {
}

select {
}

// HEADINGS ------------------------------------------------
// ---------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  &.primary {
  }

  &.secondary {
  }
}

// LINKS ---------------------------------------------------
// ---------------------------------------------------------
a {
  &:active,
  &:focus,
  &:hover {
  }
}

// LISTS ---------------------------------------------------
// ---------------------------------------------------------

// TABLES --------------------------------------------------
// ---------------------------------------------------------
table {
}

th {
}

td,
th {
}

tr {
}
