// BASE STYLES =============================================
// =========================================================
@import "base/variables";
@import "base/mixins";
@import "base/fonts";
@import "base/layout";

// BASICS --------------------------------------------------
// ---------------------------------------------------------
* {
  box-sizing: border-box;
}

body,
html {
  font-family: $font-body;
  color: $color-text-primary;
}

body {
}

img {
  max-width: 100%;
}

// TEXT ----------------------------------------------------
// ---------------------------------------------------------
span {
  display: inline-block;
}

p {
}

hr {
}

pre {
}

small {
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-error {
    color: $red;
  }

  &-primary {
    color: $blue;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}

// FORMS ---------------------------------------------------
// ---------------------------------------------------------
input {
}

label {
}

textarea {
}

select {
}

// HEADINGS ------------------------------------------------
// ---------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: $font-header;
  &.primary {
  }

  &.secondary {
  }
}

h1,
h2 {
  font-weight: 100;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.75rem;
}

h5 {
  font-size: 0.5rem;
}

h6 {
  font-size: 0.25rem;
}

// LINKS ---------------------------------------------------
// ---------------------------------------------------------
a {
  color: $color-text-link;
  text-decoration: none;
  &:active,
  &:focus,
  &:hover {
    color: $color-hover-link;
  }
}

// LISTS ---------------------------------------------------
// ---------------------------------------------------------

// TABLES --------------------------------------------------
// ---------------------------------------------------------
table {
}

th {
}

td,
th {
}

tr {
}
